﻿<html lang="en">
    <head>
        <title>Bookish</title>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap" rel="stylesheet">
        <link href="/site.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="header-img"></div>
            <nav>
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/members">Members</a></li>
                </ul>
                <div class="login-links">
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>