{% extends "_base.html" %}

{% block content %}

<div class="form-wrapper">
    <form action="/books/add" method="POST">
        <h3>Add new book</h3>
        <div>
            <label for="author">Author</label>
            <input name="author" type="text" id="author" placeholder="Please enter the author name" required>
        </div>
        <div>
            <label for="title">Title</label>
            <input name="title" type="text" id="title" placeholder="Please enter the title" required>
        </div>
        <div>
            <label for="genre">Genre</label>
            <input name="genre" type="text" id="genre" placeholder="Please enter genre">
        </div>
        <div>
            <button class="btn">Add book</button>
        </div>
    </form>
</div>


{% endblock %}